# HR Case Study

### Internshala data

Matching Employees with  right interns

## Understanding Problem Statement

## Problem Statement

* In this problem, we have been provided with information about various **internships posted** on Internshala. (This includes various attributes about the internships like location, duration, start_date of internship etc.)

* We have also been provided information about the **students who have applied** for the internship. (These include type_of_institute, current_year, academic performance of the student etc.)

* Any student is free to apply for any internship on the portal.

*While employers get high response to their posting, it is difficult to go through a high number of applications for the employers. They might need to go through high number of applications to shortlist the most relevant candidates. Hence an intelligent matching algorithm can help our users get better experience and enhance chances of meaningful profile matches.*


## Description of the files

* **Internship.csv** - includes the details of all the internships posted on Internshala. These details are filled by the company floating the Internship. Each row represents one internship.

* **Student.csv** - includes details of the students applying for the internship. These details have been filled by the student. Each row represents an experience of the student. In case the student has not filled any experience, there would be only one row containing details of student.

* **test.csv & train.csv** - include the application details (as applied by student) and the shortlist outcome

# Exploratory Questions to be answered

* What are the skills that an HR looks for in a candidate for shortlisting him/her for an internship

* The trend of Internshipp Opportunities and their availability comparision with students avalability

* Most and least popular intership that students apply for and the category of most offered internships

* Locations students can apply at and which location is intaking most inters

* Internship offered based on INternship type (regular, virtual, part-time)

## Collecting Data

In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# read train files in trainfiles,i.e., internships, students, shortlisted
df_internship = pd.read_csv("trainfiles/Internship/Internship.csv")
df_student = pd.read_csv("trainfiles/Student/Student.csv")
df_train = pd.read_csv("trainfiles/traincsv/train.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# INTERNSHIPS LISTED
df_internship.shape

(6899, 286)

In [4]:
# STUDENT APPLICATIONS RECEIVED
df_student.shape

(151191, 19)

In [5]:
# SHORTLISTED STUDENTS DATA for Training ML model
df_train.shape

(192582, 8)

In [11]:
df_internship.iloc[:,:13].describe()

,Internship_ID,No_of_openings,Stipend1,Stipend2,Internship_Duration(Months)
count,6899.000000,6899.000000,6771.000000,3151.000000,6.899000e+03
mean,8016.000000,4.447601,5673.532270,10518.329102,5.849465e+03
std,1991.714086,6.395352,4318.323717,7407.088517,3.432311e+05
min,4567.000000,1.000000,1.000000,100.000000,0.000000e+00
25%,6291.500000,2.000000,3000.000000,5000.000000,2.000000e+00
50%,8016.000000,2.000000,5000.000000,10000.000000,3.000000e+00
75%,9740.500000,5.000000,8000.000000,15000.000000,4.000000e+00
max,11465.000000,100.000000,50000.000000,150000.000000,2.016033e+07

In [12]:
df_student.describe()

,Student_ID,Year_of_graduation,Performance_PG,PG_scale,Performance_UG,UG_Scale,Performance_12th,Performance_10th
count,1.511910e+05,151191.000000,151191.000000,151191.000000,151191.000000,151191.000000,151191.000000,151191.000000
mean,2.173736e+07,2015.225152,4.560760,25.360002,32.506286,47.842054,77.652632,78.335971
std,2.828474e+07,1.434272,16.150917,34.032013,30.976177,44.642229,14.597772,19.731535
min,7.654321e+06,2001.000000,0.000000,4.000000,0.000000,4.000000,0.000000,0.000000
25%,7.671942e+06,2015.000000,0.000000,10.000000,7.200000,10.000000,69.000000,74.000000
50%,7.690571e+06,2015.000000,0.000000,10.000000,8.660000,10.000000,80.000000,84.000000
75%,7.708364e+06,2016.000000,0.000000,10.000000,66.000000,100.000000,89.000000,90.800000
max,7.866876e+07,2020.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [14]:
df_train.describe()

,Internship_ID,Student_ID,Minimum_Duration,Is_Part_Time,Is_Shortlisted
count,192582.000000,1.925820e+05,192582.000000,192582.000000,192582.000000
mean,7910.562919,2.161640e+07,3.790043,0.343012,0.127629
std,2006.863160,2.819268e+07,2.702877,0.474717,0.333677
min,4568.000000,7.654321e+06,1.000000,0.000000,0.000000
25%,6111.000000,7.672068e+06,2.000000,0.000000,0.000000
50%,8072.000000,7.690870e+06,3.000000,0.000000,0.000000
75%,9649.000000,7.708160e+06,6.000000,1.000000,0.000000
max,11334.000000,7.866825e+07,12.000000,1.000000,1.000000

In [6]:
# View Internships
df_internship.head(2)

,Internship_ID,Internship_Profile,Skills_required,Internship_Type,Internship_Location,Internship_category,No_of_openings,Stipend_Type,Stipend1,Stipend2,...,PhoneGap,Storytelling,MySQL.,Ionic,Design Skills,Corporate Sales,Entrepreneurship,Films,Foundation,Payment Gateway
0,6653,Creative Content Writing,NaN,virtual,IIGB,Part time,5,variable,1500.0,2000.0,...,0,0,0,0,0,0,0,0,0,0
1,9351,Strategic Philanthropy,NaN,regular,JABD,Part time,5,unpaid,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# VIew Students Applicants
df_student.head(2)

,Student_ID,Institute_Category,Institute_location,hometown,Degree,Stream,Current_year,Year_of_graduation,Performance_PG,PG_scale,Performance_UG,UG_Scale,Performance_12th,Performance_10th,Experience_Type,Profile,Location,Start Date,End Date
0,7654321,Y,JADH,IIDB,B.Tech and M.Tech (Dual Degree),Mathematics & Computing,already a graduate,2012,8.5,10,8.6,10,86.2,91.6,job,Software Engineering,IJCE,18-06-2013,21-06-2014
1,7654321,Y,JADH,IIDB,B.Tech and M.Tech (Dual Degree),Mathematics & Computing,already a graduate,2012,8.5,10,8.6,10,86.2,91.6,job,Software Development,IIDB,01-07-2013,NaN

In [8]:
# View Training Data
df_train.head(2)

,Internship_ID,Student_ID,Earliest_Start_Date,Expected_Stipend,Minimum_Duration,Preferred_location,Is_Part_Time,Is_Shortlisted
0,8161,78663553,03-01-2015,2-5K,3,NaN,0,0
1,4977,7695797,19-12-2014,5-10K,2,IHFG,1,0

## Pre Processing Data

In [9]:
# List Columns of Internship Data
l = df_internship.columns
for i in l:
    print(i,end=', ')
    
# taking upto 13 columns and all rest for converting from dummy to categorical

print('\n',l[:13])

Internship_ID, Internship_Profile, Skills_required, Internship_Type, Internship_Location, Internship_category, No_of_openings, Stipend_Type, Stipend1, Stipend2, Internship_deadline, Start_Date, Internship_Duration(Months), PR, UI, Marketing, Media, Social, Design, Web, Development, Business, Research, Writing, Plan, Creative, Process, Database, Strategy, Designing, Analysis, Facebook, Communication, Rest, Android, Presentation, Media Marketing, Twitter, Social Media Marketing, Operations, Java, Quality, HTML, Blogs, Digital Marketing, PHP, Market Research, Recruitment, Testing, CSS, Planning, API, Editing, Content Writing, Innovative, Lead Generation, Mobile App, SQL, Accounts, Reporting, JavaScript, Documentation, iOS, Branding, ACTING, Analytics, Initiative, Advertising, Cold Calling, Sourcing, ERP, NGO, Environment, Networking, Production, MySQL, ISO, Marketing Strategy, Survey, Visio, App Development, Front End, web development, Integration, HTML5, jQuery, Server, Coding, MBA, Content Creation, Reading, B2B, Content Development, Storm, E-commerce, Databases, Programming, Wordpress, Outreach, NABL, Web Design, Architecture, Web Application, Adobe, Scala, UI/UX, Python, Mac, Retail, Digital Media, Product Development, Data Collection, Algorithm, LESS, Email Marketing, Screening, Bootstrap, Finance, Content Marketing, Communication Skil, Hiring, Negotiation, Administration, Communication Skills, CSS3, Infographic, Youtube, CRM, CAD, Infographics, Access, Editorial, ARM, AJAX, .NET, Co-ordination, Ownership, Algorithms, Node, Drafting, Blogging, Animation, Teaching, Blogger, Relationship Management, 3d, HTTP, Press Release, Accounting, Android App Development, Adobe Photoshop, Photography, Software Development, Social Networking, AngularJS, AWS, Secondary Research, Recruiting, Client Servicing, Leadership, Content Writer, Web Services, Payroll, Prospecting, Graphic Designing, Proofreading, Data Entry, Flex, Creativity, Data Management, Convincing, GATE, Social Media Management, Machine Learning, Client Relations, Web Applications, XML, MVC, HTML/CSS, Google+, Typing, Sketch, UI Design, Visual Design, Creative Writing, Graphic Designer, Product Design, PERL, Hindi, Chef, Sales Process, ASP.NET, Django, Public Relations, CMS, Vendor Management, Content Strategy, Client Relationship, Creative Design, C#, JSON, Linux, Client Interaction, Manufacturing, Customer Relationship Management, Recruitment Process, Business Relation, Talent Acquisition, CorelDRAW, Big Data, Material Design, Market Analysis, Adobe Illustrator, REST API, Tally, Electronics, Bee, C++, Online Research, Mockups, Front End Development, Gif, Product Management, MongoDB, Primary Research, Healthcare, Data Analytics, Google Analytics, Core PHP, B2B Sales, Social Media Tools, Node.js, Ruby, Drawing, Brand Promotion, Mechanical, Automobile, Lifestyle, Writing Blogs, CodeIgniter, Writing Skills, SQL Server, Logo Design, Project Management, API Integration, Client Communication, Growth Hacking, Interior Design, Personality, SAP, Scripting, Android Application Development, Event Management, Blog Writing, Statistics, Typography, Scalability, Assembly, Conceptualization, Microsoft, MVC Framework, PSD, Web Technologies, Web Application Development, Joomla, Image Processing, REST APIs, Data Structure, Confidence, Electrical, Counseling, Inside Sales, Organizational Skills, Video Editing, Data Structures, Mobile Application Development, PhoneGap, Storytelling, MySQL., Ionic, Design Skills, Corporate Sales, Entrepreneurship, Films, Foundation, Payment Gateway,
 Index(['Internship_ID', 'Internship_Profile', 'Skills_required',
       'Internship_Type', 'Internship_Location', 'Internship_category',
       'No_of_openings', 'Stipend_Type', 'Stipend1', 'Stipend2',
       'Internship_deadline', 'Start_Date', 'Internship_Duration(Months)'],
      dtype='object')

In [52]:
turn_to_category = df_internship.iloc[:,13:]
cols_turn_to_cat = turn_to_category.columns
turn_to_category.shape

(6899, 273)

In [60]:
df_internship = df_internship.iloc[:,:13]
df_internship["Skill_Category"]=None
df_internship.columns

Index(['Internship_ID', 'Internship_Profile', 'Skills_required',
       'Internship_Type', 'Internship_Location', 'Internship_category',
       'No_of_openings', 'Stipend_Type', 'Stipend1', 'Stipend2',
       'Internship_deadline', 'Start_Date', 'Internship_Duration(Months)',
       'Skill_Category'],
      dtype='object')

In [61]:
df_internship.head()

,Internship_ID,Internship_Profile,Skills_required,Internship_Type,Internship_Location,Internship_category,No_of_openings,Stipend_Type,Stipend1,Stipend2,Internship_deadline,Start_Date,Internship_Duration(Months),Skill_Category
0,6653,Creative Content Writing,NaN,virtual,IIGB,Part time,5,variable,1500.0,2000.0,02-12-2014,22-10-2014,2,None
1,9351,Strategic Philanthropy,NaN,regular,JABD,Part time,5,unpaid,NaN,NaN,02-12-2014,24-10-2014,1,None
2,8714,Business Development,NaN,regular,IIDB,Part time,10,performance,50.0,NaN,02-12-2014,26-10-2014,6,None
3,4575,Creative Writing & Research,Researching And Writing?,virtual,IIGB,Full Time,6,fixed,3000.0,NaN,02-12-2014,02-11-2014,2,None
4,10771,Firmware And Networking Development,"TCP/IP,ARM,PIC,Networking,Arduino,Firmware",regular,IIBD,Full Time,5,variable,7000.0,15000.0,02-12-2014,03-11-2014,3,None

In [73]:
df_internship["Skill_Category"] = [cols_turn_to_cat[turn_to_category.iloc[i]==1].values for i in range(6899)]

In [74]:
df_internship.head()

,Internship_ID,Internship_Profile,Skills_required,Internship_Type,Internship_Location,Internship_category,No_of_openings,Stipend_Type,Stipend1,Stipend2,Internship_deadline,Start_Date,Internship_Duration(Months),Skill_Category
0,6653,Creative Content Writing,NaN,virtual,IIGB,Part time,5,variable,1500.0,2000.0,02-12-2014,22-10-2014,2,[Rest]
1,9351,Strategic Philanthropy,NaN,regular,JABD,Part time,5,unpaid,NaN,NaN,02-12-2014,24-10-2014,1,[]
2,8714,Business Development,NaN,regular,IIDB,Part time,10,performance,50.0,NaN,02-12-2014,26-10-2014,6,[Analysis]
3,4575,Creative Writing & Research,Researching And Writing?,virtual,IIGB,Full Time,6,fixed,3000.0,NaN,02-12-2014,02-11-2014,2,"[Writing, Creative, Creative Writing]"
4,10771,Firmware And Networking Development,"TCP/IP,ARM,PIC,Networking,Arduino,Firmware",regular,IIBD,Full Time,5,variable,7000.0,15000.0,02-12-2014,03-11-2014,3,"[Design, Designing, LESS]"

In [75]:
df1 = pd.DataFrame()

In [76]:
df_student.columns

Index(['Student_ID', 'Institute_Category', 'Institute_location', 'hometown',
       'Degree', 'Stream', 'Current_year', 'Year_of_graduation',
       'Performance_PG', 'PG_scale', 'Performance_UG', 'UG_Scale',
       'Performance_12th', 'Performance_10th', 'Experience_Type', 'Profile',
       'Location', 'Start Date', 'End Date'],
      dtype='object')

In [77]:
df_train.columns

Index(['Internship_ID', 'Student_ID', 'Earliest_Start_Date',
       'Expected_Stipend', 'Minimum_Duration', 'Preferred_location',
       'Is_Part_Time', 'Is_Shortlisted'],
      dtype='object')

In [78]:
df_internship.iloc[:,:13].columns

Index(['Internship_ID', 'Internship_Profile', 'Skills_required',
       'Internship_Type', 'Internship_Location', 'Internship_category',
       'No_of_openings', 'Stipend_Type', 'Stipend1', 'Stipend2',
       'Internship_deadline', 'Start_Date', 'Internship_Duration(Months)'],
      dtype='object')

### Training Columns

Internship_ID, Student_ID, Earliest_Start_Date, Expected_Stipend, Minimum_Duration, Preferred_location, Is_Part_Time, Is_Shortlisted

### Internship Columns matched for training

Internship_ID, 

#### Not Matched
Internship_Profile, Skills_required, Internship_Type, Internship_Location, Internship_category, No_of_openings, Stipend_Type, Stipend1, Stipend2, Internship_deadline, Start_Date, Internship_Duration(Months)


###  Students Columns matched for training

Student_ID,

#### Not Matched
Institute_Category, Institute_location, hometown, Degree, Stream, Current_year, Year_of_graduation, Performance_PG, PG_scale, Performance_UG, UG_Scale, Performance_12th, Performance_10th, Experience_Type, Profile, Location, Start Date, End Date

#

In [7]:
df_int1 = df_internship.iloc[:,:13]

NameError: name 'df_internship' is not defined

In [ ]:
df_train.merge(df_int1)
df_train.merge(df_student)

# Modeling

### The csv file saved in R environment is imported in python environment for further processing

In [8]:
# Load the Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4

In [3]:
train = pd.read_csv('TrainD.csv')
test = pd.read_csv('TestD.csv')

In [4]:
train.shape,test.shape

((192582, 118), (107428, 117))

In [5]:
train.dtypes

Internship_ID                           int64
Student_ID                              int64
Expected_Stipend                        int64
Minimum_Duration                        int64
Is_Part_Time                            int64
Institute_Category                      int64
Performance_PG                        float64
Performance_UG                        float64
Performance_12th                      float64
Performance_10th                      float64
Num_Exp_Row                             int64
No_of_openings                          int64
Internship_Duration.Months.             int64
Exp_tenure                              int64
Is_PlNo_Pref                            int64
Is_PlIHFG                               int64
Is_PlIHJB                               int64
Is_PlIIBD                               int64
Is_PlIIDB                               int64
Is_PlIJBG                               int64
Is_PlIJCE                               int64
Is_PlIJJI                               int64
Is_PlJABD                               int64
Is_PlJBDB                               int64
Is_InstLoc_IHHF                         int64
Is_InstLoc_IHHH                         int64
Is_InstLoc_IHJB                         int64
Is_InstLoc_IJCE                         int64
Is_InstLoc_IHJC                         int64
Is_InstLoc_IIBD                         int64
                                       ...
data4.Experience_Typeother              int64
data4.Experience_Typeparticipation      int64
data4.Experience_Typepor                int64
data4.Experience_Typetraining           int64
data4.Experience_Typeworkshop           int64
data4.Internship_Typeregular            int64
data4.Internship_Typevirtual            int64
data4.Internship_categoryFull.Time      int64
data4.Internship_categoryPart.time      int64
data4.Stipend_Typefixed                 int64
data4.Stipend_Typeperformance           int64
data4.Stipend_Typeunpaid                int64
data4.Stipend_Typevariable              int64
Pref_Intern_LocMatch                    int64
St_EMatch                               int64
Stip_range                              int64
Duration_Match                          int64
Inst_Intern_LocMatch                    int64
hometown_Intern_LocMatch                int64
Dif_Yog_IntD                            int64
Neg_Dif_Yog_IntD                        int64
Is_PG                                   int64
Is_Prof                                 int64
Workex_Intern_LocMatch                  int64
Num_Applicant                           int64
Open_App_Ratio                        float64
Diff_Intdl_StrD                       float64
NoCross_Deadline                      float64
Deadline2015                            int64
Is_Shortlisted                          int64
Length: 118, dtype: object

In [6]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn import metrics

In [9]:
target='Is_Shortlisted'
Internship_ID = 'Internship_ID'
Student_ID = 'Student_ID'

In [10]:
train['Is_Shortlisted'].value_counts()

0    168003
1     24579
Name: Is_Shortlisted, dtype: int64

In [11]:
def modelfit(alg, dtrain, dtest, predictors, performCV=True, printFeatureImportance=True, cv_folds=5):
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain['Is_Shortlisted'])
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    dtrain_predprob = alg.predict_proba(dtrain[predictors])[:,1]
    
    #Perform cross-validation:
    if performCV:
        cv_score = cross_val_score(alg, dtrain[predictors], dtrain['Is_Shortlisted'], cv=cv_folds, scoring='roc_auc')
    
    #Print model report:
    print ("\nModel Report")
    print ("Accuracy : %.4g" % metrics.accuracy_score(dtrain['Is_Shortlisted'].values, dtrain_predictions))
    print ("AUC Score (Train): %f" % metrics.roc_auc_score(dtrain['Is_Shortlisted'], dtrain_predprob))
    
    if performCV:
        print ("CV Score : Mean - %.7g | Std - %.7g | Min - %.7g | Max - %.7g" % (np.mean(cv_score),np.std(cv_score),np.min(cv_score),np.max(cv_score)))
                
    #Print Feature Importance:
    if printFeatureImportance:
        feat_imp = pd.Series(alg.feature_importances_, predictors).sort_values(ascending=False)
        feat_imp.plot(kind='bar', title='Feature Importances')
        plt.ylabel('Feature Importance Score')

### Baseline Model
* Since here the criteria is AUC, simply predicting the most prominent class would give an AUC of 0.5 always. 
* Another way of getting a baseline model is to use the algorithm without tuning, i.e. with default parameters.

In [13]:
#Choose all predictors except target & IDcols
predictors = [x for x in train.columns if x not in [target, Internship_ID,Student_ID]]
gbm0 = GradientBoostingClassifier(random_state=10)

In [15]:
# to check if there is any NaN
np.any(np.isnan(train)), np.all(np.isfinite(train))

(False, True)

In [16]:
train.fillna(0,inplace=True) # fill 0 inpalce of NaN
# to check after filling NaN
np.any(np.isnan(train)), np.all(np.isfinite(train))

(False, True)

In [17]:
modelfit(gbm0, train, test, predictors)

KeyboardInterrupt:

In [ ]:
pd.Series(gbm0.feature_importances_, predictors).sort_values(ascending=False)[1:30]

In [ ]:
#Taking important features as predictors
predictors1= ['Stip_range','Num_Applicant','No_of_openings','Internship_Duration.Months.','Is_SR_No','Diff_Intdl_StrD', 'Minimum_Duration','Performance_10th','data4.Internship_categoryPart.time','Num_Exp_Row','Duration_Match', 'hometown_Intern_LocMatch','data4.Internship_Typeregular','data4.Stipend_Typeunpaid','Is_IP_MK','Inf_hometown', 'Is_IP_CW','Institute_Category','data4.Stipend_Typeperformance','data4.Internship_Typevirtual','data4.Experience_Typeinternship','Inst_Intern_LocMatch','Is_Prof','Performance_12th','Is_IntrnLoc_JABD','data4.Stipend_Typefixed','Workex_Intern_LocMatch','Is_IP_AD','Performance_UG','Is_PlIJCE', 'data4.Internship_categoryFull.Time','data4.Stipend_Typevariable','Is_IntrnLoc_IIGB','Is_InstLoc_IIIF','Is_IP_BD','NoCross_Deadline','Is_PlNo_Pref','Is_PlIHJB','Is_StrMarketing','Is_IntrnLoc_IIDB','Is_IP_WD','Is_IntrnLoc_IIBD','Is_IntrnLoc_JEJJ','Is_IP_SD','Is_InstLoc_IIDB','Is_StrCommerce','Exp_tenure','Is_Part_Time','St_EMatch','Dif_Yog_IntD','data4.Experience_Typeacademic_project','data4.Current_year2','data4.Experience_TypeNo_Exp','Expected_Stipend','Is_Prof_Marketing','Is_MTech','Is_PlIIDB']

In [ ]:
#Choose important predictors and excepting target & IDcols
predictors = predictors1
param_test1 = {'n_estimators':range(20,81,10)}
gsearch1 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, min_samples_split=500, min_samples_leaf=50,max_depth=8,max_features='sqrt', subsample=0.8,random_state=10), param_grid = param_test1, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch1.fit(train[predictors],train[target])

In [ ]:
#gsearch1.grid_scores_
gsearch1.cv_results_
gsearch1.best_params_
gsearch1.best_score_

In [ ]:
#Grid seach on subsample and max_features
predictors = predictors1
param_test2 = {'max_depth':range(2,7,2), 'min_samples_split':range(100,400,100)}
gsearch2 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=70, max_features='sqrt', subsample=0.8, random_state=10), param_grid = param_test2, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch2.fit(train[predictors],train[target])

In [ ]:
#gsearch2.grid_scores_
gsearch2.cv_results_
gsearch2.best_params_
gsearch2.best_score_

In [ ]:
#Grid seach on subsample and max_features
predictors = predictors1
param_test3 = {'min_samples_split':range(50,200,50), 'min_samples_leaf':range(30,71,10)}
gsearch3 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=70,max_depth=4, max_features='sqrt', subsample=0.8, random_state=10), param_grid = param_test3, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch3.fit(train[predictors],train[target])

In [ ]:
#gsearch3.grid_scores_
gsearch3.cv_results_
gsearch3.best_estimator_
gsearch3.best_score_

In [ ]:
modelfit(gsearch3.best_estimator_, train, test, predictors)

In [ ]:
#Tune max_features:
#Grid seach on subsample and max_features
param_test4 = {'max_features':range(5,20,2)}
gsearch4 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=70,max_depth=4, min_samples_split=150, min_samples_leaf=70, subsample=0.8, random_state=10), param_grid = param_test4, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch4.fit(train[predictors],train[target])

In [ ]:
#gsearch4.grid_scores_
gsearch4.cv_results_
gsearch4.best_params_
gsearch4.best_score_

In [ ]:
### Step3- Tune Subsample and Lower Learning Rate
#Grid seach on subsample and max_features
param_test5 = {'subsample':[0.7,0.75,0.8,0.85,0.9]}
gsearch5 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=70,max_depth=4, min_samples_split=150, min_samples_leaf=70, random_state=10, max_features=7), param_grid = param_test5, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch5.fit(train[predictors],train[target])

In [ ]:
#gsearch5.grid_scores_
gsearch5.cv_results_
gsearch5.best_params_
gsearch5.best_score_

In [ ]:
#  With all tuned lets try reducing the learning rate and proportionally increasing the number of estimators to get
#  more robust results:
#Choose all predictors except target & IDcols
predictors = predictors1
gbm_tuned_1 = GradientBoostingClassifier(learning_rate=0.05, n_estimators=120,max_depth=4, min_samples_split=150,min_samples_leaf=70, subsample=0.7, random_state=10, max_features=5)
modelfit(gbm_tuned_1, train, test, predictors)

In [ ]:
est = GradientBoostingClassifier(learning_rate=0.05, n_estimators=120,max_depth=4, min_samples_split=150, min_samples_leaf=70, subsample=0.7, random_state=10, max_features=5)

In [ ]:

est.fit(train[predictors],train[target])

In [ ]:

test.fillna(0,inplace=True)

# predict probabilities
prob = est.predict_proba(test[predictors])[:,1]

In [ ]:

test1=test
test1['Is_Shortlisted']=prob[:]
test1.to_csv('DYD_SEC1.csv', columns=['Internship_ID','Student_ID','Is_Shortlisted'],index=False)